{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>



    <form action="" method="get" style="position:relative; top:40px; ">
        <div class="" style="position:relative; left:640px; top:40px;">
        {% csrf_token %}
        <div class="field has-addons">
            <div class="control">
                <input type="search" class="input" name="search"
                    placeholder="Enter the name of the food you are looking for..."
                    style="position:relative; width:500px; height:50px;">
            </div>
            <div class="control">
                <button type="submit" class="button"
                    style="position:relative; width:130px; height:50px; background:rgba(0, 0, 0, 0.8);">
                    <i class="fa-solid fa-magnifying-glass" style="color:white;"></i>
                </button>
            </div>
        </div>
    </div>
    </form>

  <div class="columns">
    <div class="column">
        <a href="{% url 'sides' %}" style="position:relative; font-size:25px; color:black; bottom:28px; left:20px;">
            <i class="fa-solid fa-house"></i>
        </a>
    </div>
    </div>
  </div>

    
    

    <br><br><br><br>

    <div class="has-text-centered">
        <p class="title is-2">Our Sides</p>
    </div>
    <br><br>


    {% if Sides %}
        <div class="columns is-multiline">
            {% for side in sides %}
            <div class="column is-5" style="position:relative; left:118.5px; margin:15px 20px;">
                <div class="box" style="position:relative; height:280px; background:rgba(5, 5, 5, 0.943);">
                    <div class="columns">
                        <div class="column">
                            <p class="title is-5" style="position:relative; left:50px; color: white;">{{ side.name }}</p>
                            <img src="{{ sides.image.url }}"
                                style="position:relative; width:160px; height:180px; border-radius:50%; left:35px; ">
                        </div>
                        <div class="column is-7">
                            <p class="subtitle is-6" style="color:#fff;">
                                {{ sides.description }}
                            </p>
                            <div class="columns" style="position:relative; top:20px; color: white;">
                                <div class="column">
                                    <p class="title is-3" style="color:#fff">
                                        {{ side.price }}$
                                    </p>
                                </div>
                                <div class="column">
                                    <button class="button"
                                        style="position:relative; background:#ffbe33; width:150px; height:45px; border-radius:25px; right:30px;">
                                      
                                            <span class="mx-2">Order Now</span> <i
                                                class="fa-solid fa-cart-shopping"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="title is-1 has-text-centered my-6">No such side found</p>
        {% endif %}



</body>

</html>
</body>
</html>