{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
</head>

<body>


  <img src="{% static 'img/carousel-1.jpg' %}" style="position:relative; width:1600px; height:740px;">


  <div style="position:relative; bottom:740px;">
    <div class="container has-text-centered">
      <form action="" method="post">
        <div class="box" style="position:relative; width:700px; left:330px; top:90px;">
          {% if error %}
          <p class="title is-3" style="color:red;">Error!</p>
          <p class="title is-6" style="color:red;">
            The name you used is busy or your password is invalid!
          </p>
          {% else %}
          <p class="title is-3 mb-6">Sign Up</p>
          {% endif %}


          {% csrf_token %}
          {% for field in form %}
          <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>
          {{ field }}
          <br><br>
          {% endfor %}

          <button type="submit" class="button is-dark is-fullwidth">Sign Up</button>
          <br>
          Click <a href="{% url 'sign_in' %}">sign in</a> if you are registered

        </div>
      </form>
    </div>
  </div>

</body>

</html>